<%= form_for(@citation, :html => { :multipart => true }) do |f| %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :journal %><br />
    <%= f.text_field :journal %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label :pages %><br />
    <%= f.text_field :pages %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </div>
  <div>
	<%= f.label :pdf %><br />
	<%= f.file_field :pdf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
